@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  font-family: 'Poppins', arial;
}

.App {
  text-align: center;
}

.landing {
  background-image: url("./assets/landing-bg.jpg");
  background-position: center bottom; 
  background-size: cover;
  padding: 5em 0 25em 0;
}

.products {
  background-color: #83946b;
  padding-top: 2em;
}

.login {
  background-image: url("./assets/login.jpg");
  background-position: center top; 
  padding-top: 2em;
  padding-bottom: 30em;
}

.reg {
  background-image: url("./assets/reg.jpg");
  background-position: center top; 
  padding-top: 2em;
  padding-bottom: 30em;
}

.dashboard {
  background-image: url("./assets/dashboard.jpg");
  background-position: center center; 
  padding-top: 2em;
  padding-bottom: 30em;
}

.orders {
  background-image: url("./assets/orders.jpg");
  background-position: center center; 
  padding-top: 2em;
  padding-bottom: 30em;
}

.add {
  background-image: url("./assets/dashboard.jpg");
  background-position: center center; 
  padding-top: 2em;
  padding-bottom: 30em;
}

.nav {
  background-color: #95a597;
}